[
 {sasl,[{errlog_type, error}]},
 {ws, [{topics, [[{topic,<<"/haws/livingroom/temperature">>},
                  {fa,<<"fa-thermometer-quarter">>},
                  {name,<<"Livingroom Temperature">>},
                  {unit,<<"C">>}],
                 [{topic, <<"/haws/livingroom/humidity">>}, 
                  {fa, <<"fa-umbrella">>}, 
                  {name, <<"Livingroom humidity">>}, {unit, <<37>>}],
                 [{topic, <<"/haws/all/power">>}, {fa, <<"fa-envira">>}, 
                  {name, <<"Power consumption">>}, {unit, <<"Wh">>}]]},
       {http_port, 4002},
       {mqtt_host, "localhost"},
       {mqtt_client_id, <<"ws_mqtt_subscriber_client">>},
       {mqtt_username, <<"haws_user">>},
       {mqtt_password, <<"haws_user">>},
       {mqtt_logger_level, info}
      ]}
].            
